{% extends 'base.html' %}

{% block body %}
  <h1>DETAIL</h1>
  <hr>
  <img src="{{ movie.poster_url }}" alt="movie_poster">
  <br>
  <p>{{ movie.title }}</p>
  <br>
  <p>Audience : {{ movie.audience }}</p>
  <br>
  <p>Release Dates : {{ movie.release_date }}</p>
  <br>
  <p>Genre : {{ movie.genre }}</p>
  <br>
  <p>Score : {{ movie.score }}</p>
  <br>
  <p>{{ movie.description }}</p>
  <br>
  
  <a href="{% url 'movies:edit' movie.pk %}">EDIT</a>
  <a href="#" onclick='document.getElementById("delete").submit();'>
    DELETE</a>

  <form id='delete' action="{% url 'movies:delete' movie.pk %}" method='POST' hidden>
    {% csrf_token %}
    <button>delete</button>
  </form>
  <br>


  <a href="{% url 'movies:index' %}">BACK</a>

{% endblock body %}