<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>My first Django application</h1>
  <h2>하하 나는 이제 장고 개발자 하하하</h2>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse, assumenda! Dolore cum vitae pariatur laboriosam atque ea repudiandae et quisquam amet laborum? Accusantium, officiis necessitatibus nemo alias tenetur aliquid a.</p>
  <hr>

  <h2>{{ name|lower }}</h2>
  <h2>{{ hobby|length }}</h2>
</body>
</html>